### Dependencies

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Setting the DataFrame

In [2]:
# 1) Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-10-20 00:00:01,-34.4187,19.2345,61.90,89,3,12.37
1,1,Rikitea,PF,2021-10-20 00:00:02,-23.1203,-134.9692,75.16,77,2,20.27
2,2,Candolim,IN,2021-10-20 00:00:03,15.5181,73.7626,78.80,89,40,6.91
3,3,Humboldt,US,2021-10-20 00:00:05,40.6665,-123.9178,54.86,50,100,11.23
4,4,Ayan,RU,2021-10-20 00:00:06,56.4500,138.1667,30.81,53,14,7.16

### Create the heatmap

In [6]:
### Heatmap of temperature

# 1) Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2) Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Filter out the negative maximum temperatures due to "InvalidWeightException"
### Weights must be non-negative.
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3) Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4) Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) --> Change due to "InvalidWeightException"
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5) Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
### Heatmap of temperature

# 1) Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2) Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Filter out the negative maximum temperatures due to "InvalidWeightException"
### Weights must be non-negative.
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3) Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4) Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) --> Change due to "InvalidWeightException"
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5) Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, -71.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, -71.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
windness = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, -71.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### PROMT THE USER TO FILTER TEMPERATURES

In [23]:
# 1) Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# 2) Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-10-20 00:00:02,-23.1203,-134.9692,75.16,77,2,20.27
2,2,Candolim,IN,2021-10-20 00:00:03,15.5181,73.7626,78.80,89,40,6.91
7,7,Touros,BR,2021-10-20 00:00:11,-5.1989,-35.4608,78.75,79,42,13.56
8,8,Vaini,TO,2021-10-20 00:00:13,-21.2000,-175.2000,75.20,65,71,17.58
14,14,Ponta Do Sol,PT,2021-10-20 00:00:19,32.6667,-17.1000,78.71,64,99,2.57
21,21,Georgetown,MY,2021-10-20 00:00:24,5.4112,100.3354,78.89,90,20,0.00
33,33,Bengkulu,ID,2021-10-20 00:00:31,-3.8004,102.2655,76.77,85,66,3.20
36,36,Buluang,PH,2021-10-20 00:00:33,13.3068,123.3425,79.59,90,84,2.89
45,45,Kavaratti,IN,2021-10-20 00:00:37,10.5669,72.6420,81.70,73,100,8.03
51,51,Sao Filipe,CV,2021-10-20 00:00:39,14.8961,-24.4956,80.17,68,0,2.19

In [25]:
# 3) Check for NaN in the DataFrame.
preferred_cities_df.count()

# If you have some rows with null values, you'll need to drop them 
# using the dropna() method at the end of your filtering statement.

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

### Add Heatmap and markerswith hotel info for each city

In [27]:
# 1) Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Rikitea      PF     75.16 -23.1203 -134.9692
2       Candolim      IN     78.80  15.5181   73.7626
7         Touros      BR     78.75  -5.1989  -35.4608
8          Vaini      TO     75.20 -21.2000 -175.2000
14  Ponta Do Sol      PT     78.71  32.6667  -17.1000

In [29]:
### Setting Parameters with REQUEST LIB and GET Method: params argument.

# 2) Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 3) Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # 3.1) Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 3.2) Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 3.3) Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 3.4) Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 3.5) Grab the first hotel from the results and store the name.
    ### USE TRY & EXCEPT to avoid IndexError
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# Results
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.16,-23.1203,-134.9692,People ThankYou
2,Candolim,IN,78.80,15.5181,73.7626,Resort Terra Paraiso
7,Touros,BR,78.75,-5.1989,-35.4608,INN NEW HORIZON
8,Vaini,TO,75.20,-21.2000,-175.2000,Keleti Beach Resort
14,Ponta Do Sol,PT,78.71,32.6667,-17.1000,Hotel do Campo
21,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
33,Bengkulu,ID,76.77,-3.8004,102.2655,Grage Hotel Bengkulu
36,Buluang,PH,79.59,13.3068,123.3425,Enon Beach Resort
45,Kavaratti,IN,81.70,10.5669,72.6420,Hotels in Lakshadweep Islands
51,Sao Filipe,CV,80.17,14.8961,-24.4956,Hotel Xaguate

### Adding Markers

In [36]:
### GMAPS documentation - InfoBoxTemplate - multiline string using three quotes.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# 0) Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# 0) HEAT LAYER
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=5)

# 1) MARKER LAYER
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 0) Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))