## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Galesong,ID,77.02,scattered clouds,-5.3166,119.3661,Sapriadi Appy
1,1,Chuy,UY,65.73,moderate rain,-33.6971,-53.4616,Nuevo Hotel Plaza
2,2,Luwuk,ID,78.12,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
3,3,Rikitea,PF,74.46,broken clouds,-23.1203,-134.9692,People ThankYou
4,4,Celestun,MX,77.34,overcast clouds,20.8667,-90.4000,Posada Lilia

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"]=="Posada Lilia"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"]=="Posada Lilia"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"]=="posadas"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"]=="Posada Paraiso"] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"]=="Hotel La Ceiba"]

In [13]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,4,Celestun,MX,77.34,overcast clouds,20.8667,-90.4,Posada Lilia

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

lats = vacation_start["Lat"].to_numpy()
lngs = vacation_start["Lng"].to_numpy()
lat_lngs = zip(lats,lngs)
start = list(lat_lngs)

lats = vacation_end["Lat"].to_numpy()
lngs = vacation_end["Lng"].to_numpy()
lat_lngs = zip(lats,lngs)
end = list(lat_lngs)

lats = vacation_stop1["Lat"].to_numpy()
lngs = vacation_stop1["Lng"].to_numpy()
lat_lngs = zip(lats,lngs)
stop1 = list(lat_lngs)

lats = vacation_stop2["Lat"].to_numpy()
lngs = vacation_stop2["Lng"].to_numpy()
lat_lngs = zip(lats,lngs)
stop2 = list(lat_lngs)

lats = vacation_stop3["Lat"].to_numpy()
lngs = vacation_stop3["Lng"].to_numpy()
lat_lngs = zip(lats,lngs)
stop3 = list(lat_lngs)

stop3[0]

(19.5833, -88.05)

In [78]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

route = [stop1[0],stop2[0],stop3[0]]

fig = gmaps.figure(center=(20.0, -90.0), zoom_level=7.0)
start2end = gmaps.directions_layer(start[0],end[0],waypoints=[stop1[0],stop2[0],stop3[0]])
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Celestun,MX,77.34,overcast clouds,20.8667,-90.4000,Posada Lilia
1,166,Dzilam Gonzalez,MX,76.03,overcast clouds,21.2833,-88.9333,posadas
2,137,Kantunilkin,MX,85.95,overcast clouds,21.0917,-87.4500,Posada Paraiso
3,123,Felipe Carrillo Puerto,MX,83.88,overcast clouds,19.5833,-88.0500,Hotel La Ceiba

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [83]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(20.0, -90.0), zoom_level=7.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))